[Unit]
Description=My Spring Boot Application
After=syslog.target network.target

[Service]
 # Adjust the user if needed
ExecStart=/usr/bin/java -jar /opt/your-app/your-app.jar
Restart=always
RestartSec=10
User=csye6225

[Install]
WantedBy=multi-user.target